@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: bold;
    font-display: block;
    src: url("./../fonts/Josefin_Sans/JosefinSans-Bold.ttf");
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url("./../fonts/Merriweather/Merriweather-Light.ttf");
}
